.DS_Store
__pycache__/
.idea/
.tmp/
.vscode/
bdd/
runs/
#inference/
*.pth
*.pt
*.tar
*.tar.gz

venv
violation_determination/slope_plot.png
violation_determination/my_scripts/test.py

venv/
yolov5/
vehicle/data/
vehicle/yolov5m.pt
vehicle/yolov5s.pt
vehicle/yolov5l.pt
.idea/
sort/
YOLOv8-DeepSORT-Object-Tracking/
ultralytics.egg-info/
dist/
build/
