.DS_Store
__pycache__/
.idea/
.tmp/
.vscode/
bdd/
violation_determination/runs/
#inference/
*.pth
*.pt
*.tar
*.tar.gz

venv
violation_determination/slope_plot.png
violation_determination/my_scripts/test.py